@{
    ViewData["Title"] = "Home";
}
<!--create a welcome and paragraphs-->
<div class="text-center">
    <h1 class="display-4" style="font-weight:bold">Welcome.</h1>
    <h2>This may seem strange, but as of a few weeks ago, one of my hobbies has been bringing up the Muppet Christmas Carol every chance I get (or listening to the soundtrack)</h2>
    <br />
    <div style="display: flex; justify-content: center; gap: 20px;">

        <!--include a picture of course!-->
        <img style="height: auto; max-width: 45%;" src="~/img/muppetchristmas.jpg" />
    </div>
    <br />
    <h4>You may be asking, "Why the heck are you thinking about the Muppet Christmas Carol in January and February?"</h4>
    <p>Well, I don't really know why either. However, let me illustrate the highlights of this movie:</p>
    <div style="text-align: center;">
        <!--create a list of the best qualities-->
        <ul style="display: inline-block; text-align: left;">
            <li>Superb Soundtrack</li>
            <li>Amazing Actors (even though most are Muppets) </li>
            <li>Outstanding Message</li>
            <li>A Fictional Redemption Arc Rivaled Only by Jean Valjean</li>
        </ul>
    </div>

    <!--put more info about the movie/my hobby of talking about it-->
    <p>This hobby can be practiced anywhere--walking to church, while working on homework, cleaning up after a birthday party, walking to class, or while out with friends.</p>
    <p>Personally, my are "One More Sleep Till Christmas," "It Feels Like Christmas," "When Love is Gone," and "Thankful Heart."</p>
    <p>If you haven't heard these songs already, I would recommend giving them a listen.</p>
   
    <h5>More Info</h5>
    <p>
        This movie is a "muppetized" version of the classic "Christmas Carol." It maintains the message and story of the original while adding in the fun and humor that comes in a classic muppet movie.
        It follows Michael Caine as Scrooge as he goes on a journey of past, present, and future, where he learns what it truly means to love your fellow man. 
        Gonzo and Rizzo narrate the story as it unfolds, adding a layer of omniscience and more funny moments. It is faithful to the original yet entertaining, and can appeal to all ages.
    </p>

    <img style="max-width: 45%" src="~/img/muppets-3.jpg" />

    <br /><br />
    <p>Look how happy Scrooge is. This could be you after you watch the movie or listen to the soundtrack!</p>


</div>
